<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebProjectExample</display-name>
  <filter>
    <filter-name>FiltroJdbc</filter-name>
    <filter-class>servletOne.filtros.FiltroJdbc</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroJdbc</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>servletOne.listeners.ContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>servletOne.listeners.RSListener</listener-class>
  </listener>
  <listener>
    <listener-class>servletOne.listeners.SessionListener</listener-class>
  </listener>
  <servlet>
    <description>Ejemplo de login</description>
    <display-name>ServletAutenticar</display-name>
    <servlet-name>ServletAutenticar</servlet-name>
    <servlet-class>servletOne.autenticar.ServletAutenticar</servlet-class>
  </servlet>
  <servlet>
    <description>Ejemplo de prueba</description>
    <display-name>RecupEmpJdbc</display-name>
    <servlet-name>RecupEmpJdbc</servlet-name>
    <servlet-class>servletOne.RecupEmpJdbc</servlet-class>
  </servlet>
  <servlet>
    <display-name>RecEmpHibernate</display-name>
    <servlet-name>RecEmpHibernate</servlet-name>
    <servlet-class>servletOne.RecEmpHibernate</servlet-class>
  </servlet>
  <servlet>
    <display-name>SesionEjemplo</display-name>
    <servlet-name>SesionEjemplo</servlet-name>
    <servlet-class>servletOne.SesionEjemplo</servlet-class>
  </servlet>
  <servlet>
    <display-name>SesionesActivas</display-name>
    <servlet-name>SesionesActivas</servlet-name>
    <servlet-class>servletOne.SesionesActivas</servlet-class>
  </servlet>
  <servlet>
    <display-name>ServletRedirect</display-name>
    <servlet-name>ServletRedirect</servlet-name>
    <servlet-class>servletOne.ServletRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRedirect</servlet-name>
    <url-pattern>/ServletRedirect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SesionesActivas</servlet-name>
    <url-pattern>/SesionesActivas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SesionEjemplo</servlet-name>
    <url-pattern>/SesionEjemplo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletAutenticar</servlet-name>
    <url-pattern>/ServletAutenticar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecupEmpJdbc</servlet-name>
    <url-pattern>/RecupEmpJdbc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecEmpHibernate</servlet-name>
    <url-pattern>/RecEmpHibernate</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
</web-app>